<!-- <div *ngIf="reservations.length > 0;else noItems">
    <ul *ngFor="let reservation of reservations" class="collection" >
        <li class="collection-item">{{reservation.reservationId}} {{reservation.locationName}}</li>
    </ul>
        <li class="text" *ngFor="let item of items">
        {{item.title}}
    </li>
</div> -->

<div *ngIf="users.length > 0;else noItems">
    <h1>All Users</h1>
    <ul *ngFor="let user of users" class="collection" >
        <li class="collection-item">{{user.UID}} {{user.displayName}}</li>
    </ul>
    <!-- <li class="text" *ngFor="let item of items">
        {{item.title}}
    </li> -->
</div>

<!-- <h1>User with Uid 2</h1>
<ul *ngFor="let user of users" class="collection" >
    <li class="collection-item">{{user.uid}} {{user.displayName}}</li>
</ul> -->



<ng-template #noItems>
    <hr>
    <h5>There are no items to list</h5>
</ng-template>


