<div class="signUp-container">
  <div class="signUp-header">
    <div class="signUp-title">Quick<span>Park</span></div>
    <div class="signUp-footer">Register to get a <br>better parking experience</div>
    <img class="signUp-logo" src="assets/Images/logo.png">
  </div>
  <form class="input-fields">
    <div class="personal-inf">
      <div
      class="info-title">Personal Information</div>
        <input
        id="displayName"
      [(ngModel)] = "displayName"
      name="displayName"
      class="input-field" type="text" placeholder="Display Name">

      <input
      id="emailAddress"
      [(ngModel)] = "emailAddress"
      name="emailAddress"
      name="loginPassword"
      class="input-field" type="email" placeholder="Email Address">
    </div>
    <div class="user-inf">
      <div class="info-title">Account Details</div>
      <div class="input-field">
        <input
      [(ngModel)] = "carPlateNo"
      name="carPlateNo"
      class="input-field" type="text" placeholder="Car Plate Number">
      </div>
      <div class="input-field">
        <input
        [(ngModel)] = "signUpPassword"
        name="signUpPassword"
        class="input-field" type='{{showPassword ? "text" : "password"}}' placeholder="Password">
        <i
        (click)="toggleShowPassword()"
        style="color:grey; margin-right: 2vh; width: 20px;"
        class='{{showPassword ? "fas fa-eye" : "fas fa-eye-slash"}}'></i>
      </div>
      <div class="input-field">
        <input
      [(ngModel)] = "confirmPass"
      name="confirmPass"
      class="input-field" type='{{showPassword ? "text" : "password"}}' placeholder="Confirm Password">
      </div>
    </div>
  </form>
  <div
  (click)=signUp() class="signUpBtn">Sign-Up Now</div>
</div>
