.signUp-container{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  .signUp-header{
    font-family: 'Quicksand';
    text-align: center;
    color: #0F123F;

    .signUp-title{
      font-size: 1.8em;
      font-weight: 700;
      letter-spacing: 5px;

      span{
        color:#EE786C;
      }
    }

    .signUp-footer{
      margin-top: 1vh;
      font-weight: 700;
      font-size: 1em;
      letter-spacing: 1px;
    }

    .signUp-logo{
      margin-top: 1vh;
      width: auto;
      height: 20vh;
    }
  }

  .input-fields{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    margin: 5vh 50px 1vh 50px;

    .personal-inf{
      display: flex;
      flex-direction: column;
      gap: 1vh;

      .info-title{
        font-size: 1em;
        font-weight: 700;
        color:#0F123F;
      }
    }

    .user-inf{
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      gap: 1vh;

      .info-title{
        font-size: 1em;
        font-weight: 700;
        color:#0F123F;
      }
    }

    input{
      width: inherit;
      padding: 1vh 20px 1vh 20px;
      flex: 1;
      border-radius: 0.8em;
      // background-image: url('../../../assets/Images/user-solid.svg');
      // background-repeat: no-repeat;
      // background-size: 20px 20px;
      // background-position: 10px 10px;
      // padding-left: 40px;
      color: #0F123F;
      font-size: 1em;
      font-weight: 600;
      border: none;
      height: 40px;
      font-family: 'Quicksand', 'FontAwesome';
    }

    input::placeholder{
      font-family: 'Quicksand';
      font-weight: 600;
    }

    input:focus{
      border-color: none;
      outline: none;
    }
  }

  .signUpBtn{
    width: inherit;
    font-weight: 700;
    background-color: #0F123F;
    color: white;
    padding: 1vh 7vh 1vh 7vh;
    border-radius: 1.5vh;
    margin-top: 2vh;
  }
}
