h2{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1em;
}

.data-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  
    .navigation{
      margin-top: auto;
      width: 100%;
      position: sticky;
    }


    #data-title{
        font-family: 'Quicksand';
        font-size: 1.8em;
        color: #3F3D56;
        font-weight: 700;
        text-align: center;
        padding-top: 8vh;
        margin: 0;

        span{
            color: #EE786C;
        }
    }

    #venue-name{
        font-family: 'Quicksand';
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
        align-self: center;
    }

    #myChart{
        width: 90vw;
    }

    .reservation-btn{
        // font-family: 'Quicksand';
        // font-size: 1em;
        margin-top: 5vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
  
