h2{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1em;
}

.data-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  
    .navigation{
      margin-top: auto;
      width: 100%;
      position: sticky;
    }

    .form-group{
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        margin-top: 5vw;

        .form-label{
            color:#3F3D56;
            font-weight: 600;
        }

        .form-control{
            border-radius: 2em;
            border-width : 0.2em;
            font-weight: 500;

            .form-dropdown{
                color:#3F3D56;
                border-radius: 5em;
                border-width : 0.2em;
                font-weight: 500;
            }
        }
    }


    #data-title{
        font-family: 'Quicksand';
        font-size: 1.8em;
        color: #3F3D56;
        font-weight: 700;
        text-align: center;
        padding-top: 8vh;
        margin: 0;

        span{
            color: #EE786C;
        }
    }

    #venue-name{
        font-family: 'Quicksand';
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
        align-self: center;
    }

    #myChart1{
        width: 100vw;
        // align-self: center;
        // align-content: center;
        // justify-content: center;
        margin-top: 10vh;
    }

    #chart-div{
        width: 80%;
    }

    .reservation-btn{
        // font-family: 'Quicksand';
        // font-size: 1em;
        margin-top: 5vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .details{
        font-family: 'Quicksand';
        width:80vw;
        align-content:center;
        justify-content: center;
        height: auto;
        font-weight: 700;
        // padding: 3vh 3vh 1vh 3vh;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
    
        .location{
          font-size: 1em;
    
          .title{
            font-size: 2.5vh;
            color: #BABEC6;
          }
        }
    }    
}
  



