.wallet-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  .construction{
    width: 30vw;
    height: auto;
    margin-top: 10vh;
  }

  .construction-footer{
    font-size: 2vh;
    font-family: "Quicksand";
    font-weight: 600;
    text-align: center;
  }

  .navigation{
    margin-top: auto;
    width: 100%;
    position: sticky;
  }
}
