<div class="login-container">
  <div class="login-header">
    <div class="login-title">Quick<span>Park</span></div>
    <div class="login-footer">Your only parking solution</div>
    <img class="login-logo" src="assets/Images/logo.png">
  </div>
  <div class="login-details">
    <div class="login-details-title">
      Log into Quick<span>Park</span>
    </div>
    <div class="login-details-footer">
      Hassle free parking for you
    </div>
    <form class="input-fields">
      <div class="input-field">
        <input
      [(ngModel)]="loginEmail"
      name="loginEmail"
      type="email" placeholder="Email Address">
      </div>
      <div class="input-field">
        <input
      [(ngModel)]="loginPassword"
      name="loginPassword"
      type='{{showPassword ? "text" : "password"}}' placeholder="Password">
      <i (click)="toggleShowPassword()"
      style="margin-left:auto; margin-right: 2vh; color:grey;"
      class='{{showPassword ? "fas fa-eye" : "fas fa-eye-slash"}}'></i>
      </div>
    </form>
    <div class="buttons-field">
      <!-- Need to change this to accomodate for logo text -->
      <app-button
      color="#EE786C"
      text="Login now to QuickPark"
      (click)=login()
      routerLink="/profile-page"
      ></app-button>
      <app-button
      text="Sign Up for QuickPark"
      routerLink="/signUp"
      > </app-button>
      <div style="color: white; font-weight: 700; font-size: 0.8em; margin-top: 2vh; text-align: center;">Having login problems? <br> <a href="mailto:quickpark.hackathon@gmail.com?subject=Having problems with login&body=Dear QuickPark," style="color:#EE786C">Contact us</a> about it!</div>
    </div>
  </div>
</div>




<!-- <app-button></app-button> -->
