<div class="login-container">
  <div class="login-header">
    <div class="login-title">Quick<span>Park</span></div>
    <div class="login-footer">Your only parking solution</div>
    <img class="login-logo" src="assets/Images/logo.png">
  </div>
  <div class="login-details">
    <div class="login-details-title">
      Log into Quick<span>Park</span>
    </div>
    <div class="login-details-footer">
      Hassle free parking for you
    </div>
    <div class="input-field">
      <app-input-field class="input-field"
      icon="fas fa-user"
      type="email"
      placeholder="Email Address"></app-input-field>
      <app-input-field class="input-field"
      icon="fas fa-user"
      type="password"
      placeholder="Password"></app-input-field>
    </div>
    <div class="buttons-field">
      <!-- Need to change this to accomodate for logo text -->
      <app-button
      color="#EE786C"
      text="Login now to QuickPark"
      (click)=login()
      routerLink="/profile-page"
      ></app-button>
      <app-button
      text="Sign Up for QuickPark"
      > </app-button>
    </div>
  </div>
</div>




<!-- <app-button></app-button> -->
