.login-container{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  .login-header{
    font-family: 'Quicksand';
    text-align: center;
    margin-top: 10vh;
    color: #0F123F;

    .login-title{
      font-size: 1.8em;
      font-weight: 700;
      letter-spacing: 5px;

      span{
        color:#EE786C;
      }
    }

    .login-footer{
      margin-top: 1vh;
      font-weight: 700;
      font-size: 1em;
      letter-spacing: 1px;
    }

    .login-logo{
      margin-top: 1vh;
      width: auto;
      height: 20vh;
    }
  }

  .login-details{
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    background-color: #3F3D56;
    margin-top: 3vh;
    border-radius: 2em 2em 0 0 ;
    height:100%;
    width: 100%;

    .login-details-title{
      color: white;
      margin-left: 50px;
      margin-top: 5vh;
      font-size: 1.8em;
      font-weight: 700;

      span{
        color:#EE786C;
      }
    }

    .login-details-footer{
      color: white;
      margin-left: 50px;
      margin-top: 20px;
      font-size: 1em;
      font-weight: 600;
    }

    .input-fields{
      display: flex;
      flex-direction: column;
      gap: 1vh;
      justify-content: center;
      margin: 2vh 50px 1vh 50px;

      .input-field{
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 1vh;
      }


      input{
        width: inherit;
        padding: 0 20px 0 20px;
        flex: 1;
        border-radius: 0.8em;
        // background-image: url('../../../assets/Images/user-solid.svg');
        // background-repeat: no-repeat;
        // background-size: 20px 20px;
        // background-position: 10px 10px;
        // padding-left: 40px;
        color: #0F123F;
        font-size: 1em;
        font-weight: 600;
        border: none;
        height: 40px;
        font-family: 'Quicksand', 'FontAwesome';
      }

      input::placeholder{
        font-family: 'Quicksand';
        font-weight: 600;
      }

      input:focus{
        border-color: none;
        outline: none;
      }
    }

    .buttons-field{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      margin: 10px 50px 10px 50px;
    }
  }

}


