<div class="reserve-wrapper">
  <div class="reserve-header">
    <div class="reserve-title">Add <span>Reservation</span></div>
    <div class="title-footer">Book a sweet parking spot!</div>
  </div>
  <div class="selections-wrapper">
    <div class="selection-title">Select a location</div>
    <select placeholder="Tap to choose a mall" [(ngModel)]="selectedMallName" (change)="updateDailyPrice(selectedMallName)">
      <option value="">Tap to choose a mall</option>
      <option *ngFor="let mallData of mallsData">{{mallData.mallName}}</option>
    </select>
    <div style="margin-top: 3vh;" class="selection-title">Pick your time</div>
    <input class="selector" value={{today}} type="date" [(ngModel)]="selectedDate" (change)="updateDailyPrice(selectedMallName)(selectedDate)">
    <input class="selector" value={{today}} step="900" type="time" [(ngModel)]="selectedStartTime">
    <!-- <div style="margin-top: 0.5vh; color:#EE786C; font-weight: 700; font-size: 0.8em;">*Date cannot be before today</div> -->

    <div style="margin-top: 3vh;" class="selection-title timer">
      <div>Select Duration</div>
      <div id="formatted">{{formattedTime}}</div>
    </div>
    <input
    [(ngModel)]="duration"
    (input)="valueChanged($event)"
    type="range"
    min="0"
    max="28800000"
    value="50"
    class="slider"
    >
  </div>
  <div class="details">
    <div class="location" >
      <div class="title"><i class="far fa-clock" style="margin-right: 1vh"></i>Travel Time</div>
      <div style="font-size: 2.5vh;">{{selectedMallName ? '45 minutes' : '0 minutes'}}</div>

      <hr style="background-color: #BABEC6; height: 2px; border: 0;">

      <div style="margin-top: 1vh;" class="title"><i class="fas fa-running" style="margin-right: 1vh"></i>Recommended Departure</div>
      <div style="font-size: 2.5vh;">{{selectedStartTime ? '20 minutes before' : '0 minutes before'}}</div>
      <hr style="background-color: #BABEC6; height: 2px; border: 0;">

      <div style="margin-top: 1vh;" class="title"><i class="fas fa-money-check-alt" style="margin-right: 1vh"></i>Parking Fare</div>
      <div style="font-size: 2.5vh;">RM {{dynamicPrice ? dynamicPrice : 0}}</div>
      <hr style="background-color: #BABEC6; height: 2px; border: 0;">
    </div>
  </div>
  <div class="submits">
    <a class="button-1 button" (click)="addReservation()">Book your space</a>
    <a class="button-2 button" routerLink="/reserve">Cancel</a>
  </div>
</div>

