
.qr-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: none;
    margin: none;
    font-family: 'Quicksand';

    .qr-title{
        font-size: 1.8em;
        font-weight: 700;

        span{
            color:#EE786C;
        }
    }

    .qr-scanner{
        margin-top: 5vh;
        width: 80vw;
    }

    .scan-result{      
        width: 80vw;
    }
}







