
.qr-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Quicksand';

    .qr-title{
        font-size: 1.8em;
        font-weight: 700;
        margin-top: 8vh;

        span{
            color:#EE786C;
        }
    }

    .qr-scanner{
      margin-top: 10vh;
        height: 50vh;
        width: 50vw;
    }
}







