.navigation-bar {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 2em;
  gap: 5vw;
  width: 90vw;

  // padding: 0.8em 2em 0.8em 2em;

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      font-weight: 400;
      color: #3F3D56;
    }

    .text{
      font-family: "Quicksand";
      margin-top: 0.8em;
      font-weight: 700;
      font-size: small;
      color: black;
      text-decoration: none;
    }
  }
}

.isActive{
  .icon{
    font-weight: 700!important;
    color: #3F3D56;
  }

  .text{
    color: #3F3D56!important;
    text-decoration: none!important;
  }
}
