
<div class="navigation-bar">
    <a class="nav-item">
        <i class="fal fa-lg fa-user icon"></i>
        <div class="text">Profile</div>
    </a>
    <a class="nav-item">
        <i class="fal fa-lg fa-wallet icon"></i>
        <div class="text">Wallet</div>
    </a>
    <a class="nav-item">
      <i class="far fa-lg fa-book-reader icon"></i>
      <div class="text">Reserve</div>
  </a>
    <a class="nav-item">
        <i class="fal fa-lg fa-chart-line icon"></i>
        <div class="text">Stats</div>
    </a>
    <a class="nav-item">
        <i class="fal fa-lg fa-car icon"></i>
        <div class="text">Vehicles</div>
    </a>
</div>
